# === GENERAL ===
logs
*.log
*.log.*
.env
.env.local
.env.*.local
.cache
*.local
dist
dist-ssr
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === DEPENDENCIES === 
node_modules

# === IDE ===
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# === OS ===
.DS_Store
Thumbs.db

# === DOCKER ===
.docker/